/* -----------------------
Base styles
------------------------*/


:root{
	/*colors*/
	--gray-100: #EBEFF4; /* background color*/
	--gray-200: #E6EAF2;
	--gray-300: #CFD8DC; /* CDD1DB */
	--gray-400: #37474F30;
	--gray-500: #37474F;
    --white: #FFFFFF;
	--black: #000000;
	--orange: #FF7600; /*FF7F0E, FF5400*/
	--orange-clear: #FF7F0E50;
	--orange-900: #BF360C;
	--blue: #304FFE; /* 1F77B4 */
	--blue-900: #1A237E;
	--blue-gradient: linear-gradient(49deg, rgba(26,35,126,1) 0%, rgba(26,35,126,1) 50%, rgba(33,55,177,1) 88%);
	--green: #BDFF00;
	/*border-radius*/
	--big: 8px;
	--small: 5px;
	/*box shadow*/
	--shadow-auto: 0 1px 3px rgba(0,0,0,.2);
	--shadow-dark: 0 1px 5px rgba(0,0,0,.6);
	/*font attributes*/
	--font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	--h1: 2.3rem;
	--h2: 1.2rem;
	--p: 0.9rem;
	/*padding*/
	--content-div: 30px;
}

body{
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--gray-100);
	font-family: var(--font-main);
}

hr.in{
	border: 0;
	margin: 20px 0;
    height: 1px;
    background: var(--gray-400);
}

hr.white{
	border: 0;
	margin: 20px 0;
    height: 1px;
    background: var(--gray-300);
}

/*TEXT*/

.content-title>h1{
	color: var(--white);
}

h1 {
	display: block;
	font-size: var(--h1);
	color: var(--gray-500);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight:500;
}


h2 {
	display: block;
	font-size: var(--h2);
	color: var(--gray-500);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight:500;
}


p {
display: block;
font-size: var(--p);
line-height: 1.5;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}

.fa {
	display: inline-block;
	font:'FontAwesome'; 
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
  }

b {
	font-weight: 600;
}

/* CONTAINER */

.container{
	max-width: 1260px;
	width: 100%;
	display: inline-flex;
	-webkit-display: inline-flex;
    -ms-display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

/* CONTAINER HEADER */

#header{
	width: 100%;
	display: block; /* flex 
	position: fixed;*/
    top: 0;
    transition: top 0.3s ease-in-out;
	z-index: 999;
}

#container-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 0;
	margin-bottom: 0; /* 40 */
}

#container-header>#header{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 76%;
	flex: 1 1 76%;
	max-width: 100%;
	min-width: 1%;
}

/* CONTAINER CONTENT */

.content{
	width: 100%;
	display: flex;
}

#container-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 100px;
	margin-bottom:150px;
}

#container-main>#content{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 76%;
	flex: 1 1 76%;
	max-width: 100%;
	min-width: 1%;
}

.li, a{
    text-align: -webkit-match-parent;
	text-decoration: none;
	list-style: none;
	color: var(--white);
}


/*** MENU BAR ***/


.navbar {
	overflow: hidden;
	background-color: var(--gray-300);
	margin-bottom: 80px;
}

/* Navigation links */
.navbar a {
	float: left;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* The subnavigation menu */
.subnav {
	float: left;
	overflow: hidden;
}
  
.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
  
.navbar a:hover, .subnav:hover .subnavbtn {
	background-color: var(--orange);
	color: var(--white);
}
  
.subnav-content {
	display: none;
	background-color: var(--orange);
	position: absolute;
  	left: 0;
	width: 100%;
	z-index: 1;
}
  
/* Style the subnav links */
.subnav-content a {
	float: center;
	
	color: var(--white);
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: var(--blue);
	color: white;
}
  
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
	display: block;
}

.navbar:focus{
	background-color: var(--blue);
	color: white;
}

/*
.logo-main{
	max-height: 20px;
}

.menu{
	display: flex;
	width: 100%; 
	background-color: var(--gray-400);
	color: var(--white);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--auto);
	padding: 20px;
	margin:20px;
	-webkit-backdrop-filter: saturate(150%) blur(32px);
	backdrop-filter: saturate(150%) blur(32px);
	
}

.menu>ul{
	display: flex;
	list-style-type: disc;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 2em;
	margin-inline-end: 0;
	padding-inline-start: 0;
}
*/


/* DEFAULT CONTENT DIV */

.content-box {
	display: block;
	position: relative;
	overflow: hidden;
	clear: both;
	height: auto;
	background-color: var(--white);
	color: var(--black);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	margin: 10px 20px;
	text-align: left;
}

.content-title {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	clear: both;
	height: auto;
	background-color: var(--blue);
	color: var(--white);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	margin: 10px 20px;
	text-align: left;
}



/***  HOMEPAGE ***/

/* FACTS CONTAINER */

.row {
	width: 100%;
	/*content: "";
    display: flex;
    justify-content:space-between;*/
	margin: 10px 20px;
	display: grid;
    grid-template-columns: minmax(30%,1fr) minmax(30%,1fr) minmax(30%,1fr);
    grid-gap: 20px;
}


.col3{
    height: 150px;
    line-height: 150px;
    background-color: var(--white);
    border-radius: var(--big);
    box-shadow: var(--shadow-auto);
    -webkit-box-shadow: var(--shadow-auto);
    padding: var(--content-div);
    
    overflow: hidden;
    display: table-row;
    text-align: center;
    position: relative;
    border: none;
    text-decoration: none;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.col3:hover{
	margin: -2px;
    line-height: 80px;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	
	/*transform: scale(1.01) perspective(0px);
	-webkit-transform: scale(1.01) perspective(0px);*/
}

.fact-count>h1{
	font-size: 2.3rem;
	font-weight: 500;
}

.fact-count>p{
	line-height: 0px;
}

p.outcome{
	color: var(--black);
	font-weight: 500;
}

.fact-hidden {
    color: var(--white);
    margin: 10px -31px 0 -31px;
	padding: var(--content-div);
    height: 50%;
	border-color: var(--orange);
    background: var(--blue-900);
    background: var(--blue-gradient);
    display: block;
}





/* IMG/RESOURCES CONTAINER */

.row2 {
	width: 100%;
	/*content: "";
    display: flex;
    justify-content:space-between;*/
	margin: 10px 20px;
	display: grid;
    grid-template-columns: minmax(24%,1fr) minmax(66%,1fr);
    grid-gap: 21px;
}

.col1{
	color: var(--white);
	border-radius: var(--big);
	text-align: left;
	display: inline-block;
    overflow: hidden; /* Avoids img overflowing div */
}


.col1>a>h1{
	margin-top: 0px;
	padding: var(--content-div);
	border-radius: var(--big);
	position: -webkit-sticky;
	color: var(--white);
	padding-right: 50px;
	transition: all .3s;
	-webkit-transition: all .3s;
	background: var(--blue-900);
	background: var(--blue-gradient);
	box-shadow: var(--shadow-auto);
}

.col1>a>h1:hover{
	padding-right:35px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
}

.col1>a>h1:after {
	height: 40px;
	width: 25px;
	padding-left: 15px;
	border-radius: 50px;
	float: right;
	font-family: 'FontAwesome';
	content: "\f105";
    font-weight: 900;
	color: rgba(0,0,0,0);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
  }

  .col1>a>h1:hover:after {
	transform: scale(1.05);
	background-color: var(--white);
	color: var(--blue);
	box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.4);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
  }

.img-cover{
	width: 100%;
	height:auto;
	position: inherit;
	margin: 0;
	margin-bottom: 20px;
	border-radius: var(--big);
	-webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.2s;
	box-shadow: var(--shadow-auto);


    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
}

.img-cover:hover{
	transition: transform 0.5s;
	-webkit-transform: scale(1.02);
    transform: scale(1.02);
	vertical-align:baseline;
}

.col2{
	background-color: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	text-align: left;
	height: 100%;
}

.col2>h1{
	padding: 30px 30px 0 30px;
}


.resourcebox{
	height: 70%;
	padding: 0px 30px 30px 30px;
}

h2.resourcelink{
	color: var(--black);
	height: auto; /*30*/
	transition: .2s;
	overflow: hidden; /* Allows arrow to fall within div */
}


h2.resourcelink:hover{
	color: var(--white);
	margin:-10px;
	padding: 10px;
	transition: .2s;
	background-color: var(--orange);
	border-radius: var(--small);
}

h2>p{
	padding-top: 10px;
	font-weight: 400;
}

h2>.fa {
	float: right;
	padding-right: 10px;
}


/*** MISSION PAGE CSS ***/


.collapsible {
	background-color: var(--gray-100);
	color: var(--black);
	border-radius: var(--small);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: var(--gray-500);
	color: var(--white);
  }
  
  .collapsible:after {
	font-family: 'FontAwesome';
	content: "\f107";
    font-weight: 900; 
	float: right;
	margin-left: 5px;
	font-size: 20px;
  }
  
  .active:after {
	font-family: 'FontAwesome';
	content: "\f106";
    font-weight: 900;
  }
  
  .contenthidden {
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .contenthidden>p {
	margin: 10px 0;
  }




/*** SUBTASK 2.2 ***/

.row3 {
	width: 100%;
	/*content: "";
    display: flex;
    justify-content:space-between;*/
	margin: 10px 20px;
	display: grid;
    grid-template-columns: minmax(24%,1fr) minmax(66%,1fr);
    grid-gap: 21px;
}

.row3>.col1{
	position: -webkit-sticky;
    position: sticky;
    top: 20;
	color: var(--gray-500);
	background: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	text-align: left;
	display: inline-block;
    overflow: hidden;
	height:fit-content;
	-webkit-height: fit-content;
}

.row3>.colTable{
	background-color: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	text-align: left;
	height: 100%;
}

.colTable>h1 {
	padding: 0;
}

.colTable>ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 30px;
}








/*** RESOURCES PAGE ***/


.col4{
	color: var(--white);
	border-radius: var(--big);
	text-align: left;
    line-height: 1.5;
	display: table-row;
    position: relative;
}


.col4>a>h2{
	height: 150px;
	margin-top: 0px;
	padding: var(--content-div);
	border-radius: var(--big);
	position: -webkit-sticky;
	transition: all .3s;
	-webkit-transition: all .3s;
	color: var(--black);
	background-color: var(--white);
	box-shadow: var(--shadow-auto);
}

.col4>a>h2:hover{
	margin: -2px;
	padding-right: 32px;
	/*color: var(--white);
	background-color: var(--orange);*/
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
}

.col4>a>h2:after {
	height: 40px;
	line-height: 38px;
	width: 25px;
	padding-left: 15px;
	border-radius: 50px;
	float: right;
	font-family: 'FontAwesome';
	content: "\f105";
    font-weight: 900;
	font-size: 35px;
	color: rgba(0,0,0,0);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
  }

  .col4>a>h2:hover:after {
	margin-right: -10px;
	transform: scale(1.05);
	background-color: var(--orange);
	color: var(--white);
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.2);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out; 
  }







/*** FOOTER CSS ***/

footer {
	display: block;
	position: relative;
	left: 15px;
	bottom: 15px;
	margin-top: 30px;
}














  /* LEAVE AT END 