/* -----------------------
Base styles
------------------------*/


:root{
	/*colors*/
	--gray-100: #EBEFF4; /* background color*/
	--gray-200: #E6EAF2;
	--gray-300: #CDD1DB;
	--gray-400: #37474F30;
	--gray-500: #37474F;
    --white: #FFFFFF;
	--black: #000000;
	--orange: #FF7F0E;
	--blue: #304FFE; /* 1F77B4 */
	--blue-900: #1A237E;
	--green: #BDFF00;
	/*border-radius*/
	--big: 10px;
	--small: 5px;
	/*box shadow*/
	--shadow-auto: 0 1px 3px rgba(0,0,0,.2);
	/*font attributes*/
	--font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	--text-h1: 2.3rem;
	--text-p: 0.9rem;
	/*padding*/
	--content-div: 30px;
}

body{
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--gray-100);
	font-family: var(--font-main);
}

hr.in{
	border: 0;
	margin: 20px 0;
    height: 1px;
    background: var(--gray-400);
}

hr.white{
	border: 0;
	margin: 20px 0;
    height: 1px;
    background: var(--gray-300);
}

/*TEXT*/

h1 {
	display: block;
	font-size: var(--text-h1);
	color: var(--gray-500);
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight:500;
}

.content-title>h1{
	color: var(--white);
}

p {
display: block;
font-size: var(--text-p);
line-height: 1.5;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}

/* CONTAINER */

.container{
	max-width: 1240px;
	width: 100%;
	display: inline-flex;
	-webkit-display: inline-flex;
    -ms-display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

/* CONTAINER HEADER */

#header{
	width: 100%;
	display: block; /* flex */
	/*position: fixed;*/
    top: 0;
    transition: top 0.3s ease-in-out;
	z-index: 999;
}

#container-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 0;
	margin-bottom: 0; /* 40 */
}

#container-header>#header{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 76%;
	flex: 1 1 76%;
	max-width: 100%;
	min-width: 1%;
}

/* CONTAINER CONTENT */

.content{
	width: 100%;
	display: flex;
}

#container-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	margin-bottom:40px;
}

#container-main>#content{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 76%;
	flex: 1 1 76%;
	max-width: 100%;
	min-width: 1%;
}

/* MENU BAR */

.logo-main{
	max-height: 20px;
}

.menu{
	display: flex;
	width: 100%; /* auto */
	background-color: var(--gray-400);
	color: var(--white);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--auto);
	padding: 20px;
	margin:20px;
	-webkit-backdrop-filter: saturate(150%) blur(32px);
	backdrop-filter: saturate(150%) blur(32px);
	
}

.menu>ul{
	display: flex;
	list-style-type: disc;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 2em;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

li{
	padding: 0 5px;
	list-style: none;
}

.li, a{
    text-align: -webkit-match-parent;
	text-decoration: none;
	color: var(--white);
}

/* DEFAULT CONTENT DIV */

.content-box {
	display: block;
	position: relative;
	overflow: hidden;
	clear: both;
	height: auto;
	background-color: var(--white);
	color: var(--black);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	margin: 10px 20px;
	text-align: left;
}

.content-title {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	clear: both;
	height: auto;
	background-color: var(--blue);
	color: var(--white);
	border-radius: var(--big);
	-webkit-box-shadow: var(--shadow-auto);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	margin: 10px 20px;
	text-align: left;
}


/* FACTS CONTAINER */

.row {
	width: 100%;
	/*content: "";
    display: flex;
    justify-content:space-between;*/
	margin: 10px 20px;
	display: grid;
    grid-template-columns: minmax(30%,1fr) minmax(30%,1fr) minmax(30%,1fr);
    grid-gap: 20px;
}

.col3{
	height: 150px;
	line-height: 150px;
	background-color: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	
}

/* IMG/RESOURCES CONTAINER */

.row2 {
	width: 100%;
	/*content: "";
    display: flex;
    justify-content:space-between;*/
	margin: 10px 20px;
	display: grid;
    grid-template-columns: minmax(66%,1fr) minmax(24%,1fr);
    grid-gap: 21px;
}

.col1{
	background-color: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	text-align: left;
	display: inline-block;
    overflow: hidden;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-color: var(--blue-900);
}

.col1:hover{
	background-color: var(--blue);
}

.col1>h1{
	margin-top: -10px;
	padding: var(--content-div);
	position: -webkit-sticky;
	color: var(--white);

}

.img-cover{
	width: 100%;
	position: inherit;
	margin: 0;
	border-radius: 10px 10px 0 0;
	-webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;


    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
}

.img-cover:hover{
	-webkit-transform: scale(1.05) rotate(0.01deg);
    transform: scale(1.05) rotate(0.01deg);
	vertical-align:baseline;
}

.col2{
	background-color: var(--white);
	border-radius: var(--big);
	box-shadow: var(--shadow-auto);
	padding: var(--content-div);
	text-align: left;
}

/* Mission page CSS*/

.navbar {
	overflow: hidden;
	background-color: var(--gray-300);
	margin-bottom: 80px;
}

/* Navigation links */
.navbar a {
	float: left;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  /* The subnavigation menu */
  .subnav {
	float: left;
	overflow: hidden;
  }
  
  .subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
	background-color: var(--orange);
  }
  
  .subnav-content {
	display: none;
	background-color: var(--orange);
	position: absolute;
  	left: 0;
	width: 100%;
	z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
	float: center;
	color: black;
	text-decoration: none;
  }
  .subnav-content a:hover {
	background-color: var(--blue);
	color: white;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
	display: block;
	}

  .navbar .current {
	background-color: var(--blue);
	color: white;
  }
  
  /*
  main {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }

  .textbox {
	margin: 10px 60px 10px 60px;
	max-width: 1000px;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
	background-color: white;
  }
  */


  footer {
	  display: block;
	  position: relative;
	  left: 15px;
	  bottom: 15px;
	  margin-top: 30px;
  }














  /* LEAVE AT END 